php_value include_path ".:/Users/avlund/projects/php/fmmf"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* php/receive.php [L,QSA]